<h1><%= "#{@organisation.group_name.capitalize}: #{@group.name}" %></h1>

<h2>
  <%= link_to admin_space_path(@group, date: (@month - 1.month).strftime("%F")), class: "text-center caret-button" do %>
    <i class="fa fa-caret-left"></i>
  <% end %>
  <%= @month.strftime("%b %Y") %>
  <%= link_to admin_space_path(@group, date: (@month + 1.month).strftime("%F")), class: "text-center caret-button" do %>
    <i class="fa fa-caret-right"></i>
  <% end %>
</h2>

<h2><%= @organisation.shop_name %>s</h2>

<% @group.shops.each do |shop| %>
  <h3><%= shop.name %></h3>

  <div class="panel panel-default total-hours">
    <table class="table">

      <tr>
        <th>Nom</th>
        <th>Taux Horaire</th>
        <th>Brut Mensuel</th>
        <th>Heures travaillées</th>
        <th>Congés</th>
        <th>Congés payés</th>
        <th>Arrêts maladie</th>
        <th>Total Horaire</th>
        <th>Salaire</th>
      </tr>

    <% employees_shifts = Hash.new
    shop.users.each do |employee|
      employee_shifts = Hash.new
      employee.shifts.where("starts_at >= ? AND ends_at < ?", @month, @month + 1.month).each do |shift|
        if shift.starts_at.strftime("%B") == @month.strftime("%B") && shift.poste.absence_type.nil?
          start_time = shift.starts_at
          end_time = shift.ends_at
          date = french_days(start_time.strftime("%A")) + start_time.strftime(" %d ") + french_mn(start_time.strftime("%b"))
          shift_duration = (end_time - start_time) / 1.hour
          employee_shifts[date] = shift_duration
        end
      end
      employees_shifts[employee] = employee_shifts
    end %>
    <% employees_shifts.each do |employee, shifts| %>

      <!-- get total hours worked for employee, get date and duration for popover -->
      <% total = 0 %>
      <% date_and_duration = "" %>
      <% membership = Membership.where("user_id = :user AND shop_id = :shop", { user: employee.id, shop: shop.id}).first %>
      <% contract_hours = membership.contract_hours.nil? ? 0 : membership.contract_hours %>
      <% shifts.each do |date, duration| %>
        <% total += duration %>
        <% date = date.to_s %>
        <% duration = duration %>
        <% n1 = (duration % 1).to_r.to_s.scan(/\d/)[0] %>
        <% n2 = (duration % 1).to_r.to_s.scan(/\d/)[1] %>
        <% date_and_duration += "<tr>
                                  <td>#{date}</td>
                                  <td>#{
                                    if duration % 1 != 0
                                      "#{duration.floor} <sup>#{n1}</sup>&frasl;<sub>#{n2}</sub> h"
                                    else
                                      "#{duration.floor} h"
                                    end
                                  }</td>
                                </tr>" %>
      <% end %>


        <!-- create popover content -->
        <% popover_content = date_and_duration == '' ? '' : "<div class='panel panel-default popover-table'>
                                <div class='panel-heading'>
                                  Shifts
                                </div>
                                <table class=table>
                                  #{date_and_duration}
                                </table>
                              </div>" %>

        <% theo_hours = contract_hours * 0.05 * Date.today.day %>
        <% pace = total - theo_hours %>
        <tr class="<%= hours_card_class(total - contract_hours) %>">
          <td><%= employee.name %></td>

          <!-- TAUX HORAIRE -->
          <td><%= employee.hourly_wage %></td>

          <!-- BRUT DE BASE -->
          <td><%= trim_float(employee.hourly_wage * 151.67) %></td>

          <!-- HEURES TRAVAILLEES -->
          <td data-toggle="popover" data-content="<%= popover_content %>">
            <%= trim_float(total) %>
          </td>

          <!-- CONGES -->
          <% leave_time = 0 %>
          <% date_and_duration = "" %>
          <% Shift.where("user_id = ? AND starts_at >= ? AND ends_at < ?", employee.id, @month, (@month + 1.month)).joins(:poste).where(postes: { absence_type: "unpaid" }).each do |s|%>
            <% date = french_days(s.starts_at.strftime("%A")) + s.starts_at.strftime(" %d ") + french_mn(s.starts_at.strftime("%b")) %>
            <% duration = (s.ends_at - s.starts_at) / 1.hour %>
            <% date_and_duration += "<tr>
                                  <td>#{date}</td>
                                  <td>#{
                                    if duration % 1 != 0
                                      "#{duration.floor} <sup>#{n1}</sup>&frasl;<sub>#{n2}</sub> h"
                                    else
                                      "#{duration.floor} h"
                                    end
                                  }</td>
                                </tr>" %>
            <% leave_time += duration %>
          <% end %>
          <% popover_content = date_and_duration == '' ? '' : "<div class='panel panel-default popover-table'>
                                <div class='panel-heading'>
                                  Congés
                                </div>
                                <table class=table>
                                  #{date_and_duration}
                                </table>
                              </div>" %>
          <td data-toggle="popover" data-content="<%= popover_content %>">
            <%= trim_float(leave_time) %>
          </td>

          <!-- CONGES PAYES -->
          <% paid_leave_time = 0 %>
          <% date_and_duration = "" %>
          <% Shift.where("user_id = ? AND starts_at >= ? AND ends_at < ?", employee.id, @month, (@month + 1.month)).joins(:poste).where(postes: { absence_type: "paid" }).each do |s|%>
            <% date = french_days(s.starts_at.strftime("%A")) + s.starts_at.strftime(" %d ") + french_mn(s.starts_at.strftime("%b")) %>
            <% duration = (s.ends_at - s.starts_at) / 1.hour %>
            <% date_and_duration += "<tr>
                                  <td>#{date}</td>
                                  <td>#{
                                    if duration % 1 != 0
                                      "#{duration.floor} <sup>#{n1}</sup>&frasl;<sub>#{n2}</sub> h"
                                    else
                                      "#{duration.floor} h"
                                    end
                                  }</td>
                                </tr>" %>
            <% paid_leave_time += duration %>
          <% end %>
          <% popover_content = date_and_duration == '' ? '' : "<div class='panel panel-default popover-table'>
                                          <div class='panel-heading'>
                                            Congés payés
                                          </div>
                                          <table class=table>
                                            #{date_and_duration}
                                          </table>
                                        </div>" %>
          <td data-toggle="popover" data-content="<%= popover_content %>">
            <%= trim_float(paid_leave_time) %>
          </td>

          <!-- ARRETS MALADIE -->
          <% sick_leave_time = 0 %>
          <% date_and_duration = "" %>
          <% Shift.where("user_id = ? AND starts_at >= ? AND ends_at < ?", employee.id, @month, (@month + 1.month)).joins(:poste).where(postes: { absence_type: "sick leave" }).each do |s|%>
            <% date = french_days(s.starts_at.strftime("%A")) + s.starts_at.strftime(" %d ") + french_mn(s.starts_at.strftime("%b")) %>
            <% duration = (s.ends_at - s.starts_at) / 1.hour %>
            <% date_and_duration += "<tr>
                                  <td>#{date}</td>
                                  <td>#{
                                    if duration % 1 != 0
                                      "#{duration.floor} <sup>#{n1}</sup>&frasl;<sub>#{n2}</sub> h"
                                    else
                                      "#{duration.floor} h"
                                    end
                                  }</td>
                                </tr>" %>
            <% sick_leave_time += duration %>
          <% end %>
          <% popover_content = date_and_duration == "" ? "" : "<div class='panel panel-default popover-table'>
                                          <div class='panel-heading'>
                                            Congés payés
                                          </div>
                                          <table class=table>
                                            #{date_and_duration}
                                          </table>
                                        </div>" %>
          <td data-toggle="popover" data-content="<%= popover_content %>">
            <%= trim_float(sick_leave_time) %>
          </td>

          <!-- TOTAL HORAIRE -->
          <td>
            <% total_counted_hours = paid_leave_time + total %>
            <%= trim_float(total_counted_hours) %>
          </td>

          <!-- SALAIRE -->
          <td>
            <% if total < 36 %>
              <%= trim_float(total_counted_hours * employee.hourly_wage) %>
            <% elsif total < 40 %>
              <%= trim_float((35 * employee.hourly_wage)+((employee.hourly_wage * 1.1)*(total_counted_hours - 35))) %>
            <% else %>
              <%= trim_float( (35 * employee.hourly_wage)+((employee.hourly_wage * 1.1)*4)+((employee.hourly_wage * 1.2)*(total_counted_hours - 39))) %>
            <% end %>
          </td>

          <!-- =IF(AK12<36,$AB12*AK12,IF(AK12<40,$AB12*35+$AC12*(AK12-35),$AB12*35+$AC12*4+(AK12-39)*$AD12)) -->


        </tr>
      <% end %>
    </table>
  </div>

<% end %>

<% content_for :scripts do %>
  <script>
    $('[data-toggle="popover"]').popover({
      container: 'body',
      html: true,
      trigger: 'hover',
      delay: {"show": "300", "hide": "50"},
      placement: 'bottom'
    });
  </script>
<% end %>
