<%= simple_nested_form_for user, url: custom_path do |f| %>

  <div class="row valign">
    <label for="user_first_name" class="contol-label col-xs-4 vcenter">Prénom</label>
    <%= f.input :first_name, placeholder: "Coluche", label: false, wrapper_html: { class: "col-xs-8 vcenter" } %>
  </div>

  <div class="row valign">
    <label for="user_last_name" class="contol-label col-xs-4 vcenter">Nom</label>
    <%= f.input :last_name, placeholder: "Du Shnok", label: false, wrapper_html: { class: "col-xs-8 vcenter" } %>
  </div>

  <div class="row valign">
    <label for="user_email" class="contol-label col-xs-4 vcenter">Email</label>
    <%= f.input :email, placeholder: "wallie@gmail.com", label: false, wrapper_html: { class: "col-xs-8 vcenter" } %>
  </div>

  <%= f.input :password, as: :hidden, input_html: { :value => "aaaaaaaa" } %>

  <div class="row valign">
    <label for="user_membership_role" class="contol-label col-xs-4 vcenter">Rôle</label>
    <%= f.simple_fields_for membership do |p| %>
      <%= p.input :role, as: :select, label: false, wrapper_html: { class: "col-xs-8 vcenter" }, collection: Membership::ROLES, prompt: "Pick a role" %>
    <% end %>
  </div>

  <div id="skills-list">
    <% @shop.postes.each do |poste| %>
      <input class='tgl tgl-flip' id='cb<%= poste.id.to_s %>' type='checkbox' name="poste<%= poste.id.to_s %>">
      <label class='tgl-btn' id='lb<%= poste.id.to_s %>' data-tg-on='<%= render 'users/poste_logo', poste: poste %>' data-tg-off='<%= poste.name %>' data-tg-on='<%= poste.name %>' for='cb<%= poste.id.to_s %>'></label>
    <% end %>
  </div>

  <div class="row valign">
    <label for="user_contract" class="contol-label col-xs-4 vcenter">Contrat</label>
    <%= f.input :contract, as: :attachinary, label: false, wrapper_html: { class: "col-xs-8 vcenter" } %>
  </div>

  <div class="text-center">
    <%= f.button :submit, value: "Créer", class: "btn-primary", id: "submit-new-employee" %>
  </div>
<% end %>



<% content_for :scripts do %>
  <script>
    <% @shop.postes.each do |poste| %>
      var bg = $('#lb<%= poste.id.to_s %>').data('tg-on').trim();
      $('body').append('<style>#lb<%= poste.id.to_s %>::after{background-image: url(' + bg + ')}</style>');
    <% end %>

    $(function() {
      $('#skills-list').hide();
      $('#user_membership_role').change(function(){
        if($('#user_membership_role').val() == 'Employee') {
          $('#skills-list').slideDown();
        } else {
          $('#skills-list').slideUp();
        }
      });
    });
  </script>
<% end %>


