<%= simple_form_for user, url: custom_path do |f| %>

  <div class="row valign">
    <label for="user_first_name" class="contol-label col-xs-4 vcenter">First name</label>
    <%= f.input :first_name, placeholder: "Walter", label: false, wrapper_html: { class: "col-xs-8 vcenter" } %>
  </div>

  <div class="row valign">
    <label for="user_last_name" class="contol-label col-xs-4 vcenter">Last name</label>
    <%= f.input :last_name, placeholder: "White", label: false, wrapper_html: { class: "col-xs-8 vcenter" } %>
  </div>

  <div class="row valign">
    <label for="user_email" class="contol-label col-xs-4 vcenter">Email</label>
    <%= f.input :email, placeholder: "iluvmeth@gmail.com", label: false, wrapper_html: { class: "col-xs-8 vcenter" } %>
    <%= f.input :password, as: :hidden, input_html: { :value => "aaaaaaaa" } %>
  </div>

  <div class="row valign">
    <label for="user_role" class="contol-label col-xs-4 vcenter">Role</label>
    <%= f.input :role, as: :select, collection: Membership::ROLES, label: false, wrapper_html: { class: "col-xs-8 vcenter" }, prompt: "Pick a role" %>
  </div>

  <%= f.association :postes, as: :check_boxes, input_html: { class: 'tgl tgl-flip' }, label_html: { class: 'tgl-btn', 'data-tg-off' => 'Nope', 'data-tg-on' => 'Yeah!' } %>

  <div class="row valign">
    <label for="user_contract" class="contol-label col-xs-4 vcenter">Contract</label>
    <%= f.input :contract, as: :attachinary, label: false, wrapper_html: { class: "col-xs-8 vcenter" } %>
  </div>

  <div class="text-center">
    <%= f.button :submit, value: "Create", class: "btn-primary" %>
  </div>
<% end %>


