<% if @user.errors.any? %>
  // manage error case
<% else %>
  var index = parseInt($('#employees tr:last td:first').text()) + 1
  var index = '<td>' + index + '</td>'
  var first_name = '<td><%= j @user.first_name %></td>'
  var last_name = '<td><%= j @user.last_name %></td>'
  var role = '<td><%= j @user.memberships.first.role %></td>'
  var postes = '<td><%= j @user.abilities.map{ |a| a.poste.name.capitalize }.join(" ") %></td>'
  var profile = '<td><%= link_to "View profile", user_path(@user) %></td>'
  var new_user = '<tr>' + index + first_name + last_name + role + postes + profile + '</tr>'
  $('.card-planning:last').after(new_user);
  new_user.slideDown();
  $('#user_content').val('');
<% end %>
