<h1>Add an employee</h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.fields_for @membership do |builder| %>
    <%= builder.input :role, type: :select, collection: Membership::ROLES %>
  <% end %>


  <%= f.button :submit, value: "Create" %>
<% end %>
