<h1>Add an employee</h1>
<%= render 'users/form', user: @user, membership: @membership, ability: @ability %>
</br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">My employees</div>

  <!-- Table -->
  <table class="table" id="employees">
    <th>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Role</td>
      <td>Possible jobs</td>
    </th>
    <% @shop_employees.each_with_index do |employee, i| %>
      <tr id="employees-list">
        <%= link_to "", user_path(employee) %>
        <td><%= i + 1 %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <!-- TEMPORARY!!! CHANGE TO CURRENT SHOP -->
        <td><%= employee.memberships.first.role %></td>
        <td>
          <% Poste.joins(:abilities).where(abilities: {user: employee}).each do |poste| %>
            <%= poste.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% content_for :scripts do %>
  <script>
    $('#employees-list').click( function() {
        window.location = $(this).find('a').attr('href');
    }).hover( function() {
        $(this).toggleClass('hover');
    });
  </script>
<% end %>
