<div class="row" id="page-content">
  <div class="scrolling-list col-xs-7">
    <% @shop_employees.each do |employee_group| %>
      <% employee_group.each do |employee| %>
        <div class="<%= employee.role == "Line Manager" ? "card-user card-manager" : "card-user" %>">
          <div class="card-user-description">
            <div class="card-user-name">
              <span>
                <i class="fa fa-user" style="<%= "color: #1FBED5;" if employee == current_user %>"></i>
                <%= employee.first_name.capitalize + " " + employee.last_name.capitalize %>
              </span>
              <span class="separator">-</span>
              <span>
                <%= employee.memberships.first.role %>
              </span>
            </div>
            <div class="skill-buttons">
              <% Poste.joins(:abilities).where(abilities: {user: employee}).uniq.sort_by { |poste| poste.name.capitalize }.each do |poste| %>
                <% if @shop.postes.include?(poste) %>
                  <div class="skill-button">
                    <%= poste.name %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="card-user-controls">
            <div class="list-controls">
              <%= link_to "Voir", user_path(employee), class: "btn btn-default" %>
              <%= link_to "Supprimer", user_path(employee), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer #{employee.first_name}?" }, class: "btn btn-default" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="fixed-content">
    <div class="fixed-form">
      <h2>Ajouter un employé</h1>
      <%= render 'users/form', user: @user, membership: @membership, ability: @ability %>
    </div>
  </div>
</div>


<% content_for :title_tag do %>
Mes employés
<% end %>
