<div class="row" id="page-content">
  <div class="scrolling-list col-xs-7">
    <% @shop_employees.each do |employee_group| %>
      <% employee_group.each do |employee| %>
        <div class="<%= employee.role == "Line Manager" ? "card-user card-manager" : "card-user" %>">
          <div class="card-user-description">
            <div class="card-user-name">
              <span>
                <i class="fa fa-user"></i>
                <%= employee.first_name.capitalize + " " + employee.last_name.capitalize %>
              </span>
              <span class="separator">-</span>
              <span>
                <%= employee.memberships.first.role %>
              </span>
            </div>
            <div class="skill-buttons">
              <% Poste.joins(:abilities).where(abilities: {user: employee}).uniq.each do |poste| %>
                <div class="skill-button">
                  <%= poste.name %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card-user-controls">
            <div class="user-info">
               Insert some<strong>cool</strong> information!
            </div>
            <div class="list-controls">
              <%= link_to "Voir", user_path(employee), class: "btn btn-default" %>
              <%= link_to "Supprimer", user_path(employee), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer #{employee.first_name}?" }, class: "btn btn-default" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="fixed-content">
    <div class="fixed-form">
      <h2>Ajouter un employé</h1>
      <%= render 'users/form', user: @user, membership: @membership, ability: @ability %>
    </div>

    <div class="alert alert-warning alert-dismissible fade in" role="alert" id="invalid-user-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Oups!</strong> Veuillez compléter les informations nécessaires pour créer votre employé!
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script>
    $('#invalid-user-alert').hide()
    <% if @error %>
      $('#invalid-user-alert').fadeIn()
    <% else %>
    <% end %>
  </script>
<% end %>

<% content_for :title_tag do %>
Mes employés
<% end %>
