
<div id="user-info" class="text-center">

  <div class="user-details-wrapper">
    <div class="user-details-container">
      <div class="user-details-icon">
        <%= @user.first_name[0]+ @user.last_name[0] %>
      </div>
      <h1 class="user-details-name"><%= @user.first_name + " " + @user.last_name %></h1>
      <p class="user-details-role"><%= @user.memberships.first.role %></p>
    </div>
  </div>

  <div class="user-contact-and-skills-wrapper">
    <% unless @user.postes.empty? %>
      <div class="user-skills">
        <table>
          <tr>
            <% @user.postes.each_with_index do |poste, i| %>
              <td>
                <img src="<%= render 'users/poste_logo', poste: poste %>" alt="<%= poste.name %>">
              </td>
              <% unless i == @user.postes.size - 1 %>
                <td class="td-spacer"></td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <% @user.postes.each_with_index do |poste, i| %>
              <td>
                <%= poste.name %>
              </td>
              <% unless i == @user.postes.size - 1 %>
                <td class="td-spacer"></td>
              <% end %>
            <% end %>
          </tr>
        </table>
      </div>
    <% end %>

    <div class="user-contact-info">

      <!-- email -->
      <div class="flexbox">
        <div class="flex-item">
          <i class="fa fa-envelope-o"></i>
        </div>
        <div class="flex-item" id="email">
          <%= @user.email %>
        </div>
        <div class="flex-item hidden" id="email-input-container">
          <input type="text" value="<%= @user.email %>" id="email-input">
        </div>
        <div class="flex-item" id="edit-email">
          <i class="fa fa-pencil"></i>
        </div>
        <div class="flex-item hidden" id="save-email">
          <i class="fa fa-save"></i>
        </div>
      </div>

      <!-- phone -->
      <div class="flexbox">
        <div class="flex-item">
          <i class="fa fa-phone"></i>
        </div>
        <div class="flex-item" id="phone">
          <%= @user.phone %>
        </div>
        <div class="flex-item hidden" id="phone-input-container">
          <input type="text" value="<%= @user.phone %>" id="phone-input">
        </div>
        <div class="flex-item" id="edit-phone">
          <i class="fa fa-pencil"></i>
        </div>
        <div class="flex-item hidden" id="save-phone">
          <i class="fa fa-save"></i>
        </div>
      </div>

      <!-- contract -->
      <% if @user.contract %>

        <div class="flexbox">
          <div class="flex-item">
            <i class="fa fa-file-text-o"></i>
          </div>
          <div class="flex-item" id="view-contract-prompt">
            <%= link_to "http://res.cloudinary.com/quitteriemm/image/upload/v1456335174/#{@user.contract.public_id}.pdf" do %>
              View <%= @user.first_name %>'s contract
            <% end %>
          </div>
          <div class="flex-item hidden" id="upload-contract-prompt">
            Upload <%= @user.first_name %>'s contract
          </div>
          <div class="flex-item hidden" id="save-contract-prompt">
            Save <%= @user.first_name %>'s contract
          </div>
          <div class="flex-item hidden" id="upload-contract">
            <i class="fa fa-upload"></i>
          </div>
          <div class="flex-item hidden" id="save-contract">
            <i class="fa fa-save"></i>
          </div>
          <div class="flex-item" id="delete-contract">
            <i class="fa fa-trash"></i>
          </div>
        </div>
        <%= simple_form_for @user, method: "patch" do |f|  %>
          <%= f.input :contract, as: :attachinary, label: false, id: "upload-contract"  %>
          <%= f.button :submit, id: "submit-contract" %>
        <% end %>

      <% else %>

        <div class="flexbox">
          <div class="flex-item">
            <i class="fa fa-file-text-o"></i>
          </div>
          <div class="flex-item" id="upload-contract-prompt">
            Upload <%= @user.first_name %>'s contract
          </div>
          <div class="flex-item hidden" id="save-contract-prompt">
            Save <%= @user.first_name %>'s contract
          </div>
          <div class="flex-item" id="upload-contract">
            <i class="fa fa-upload"></i>
          </div>
          <div class="flex-item hidden" id="save-contract">
            <i class="fa fa-save"></i>
          </div>
          <div class="flex-item hidden" id="delete-contract">
            <i class="fa fa-trash"></i>
          </div>
        </div>
        <%= simple_form_for @user, method: "patch" do |f|  %>
          <%= f.input :contract, as: :attachinary, label: false, id: "upload-contract"  %>
          <%= f.button :submit, id: "submit-contract" %>
        <% end %>

      <% end %>
    </div>
  </div>

  <% unless @employee_shifts.nil? || @employees_shifts[@user].empty? %>
    <%= render  'users/table' %>
  <% end %>

</div>

<div class="similar-users-wrapper">
  <% unless @user.postes.empty? %>
    <div id="similar-users">
      <h2 class="text-center">Other employees like <%= @user.first_name %></h2>
      <div class="similar-users-list">
        <ul class="list-inline">
          <% @similar_users.each do |employee| %>
            <li>
              <div class="employee-card">

                <table id="employee-card-table">

                  <tr id="employee-card-name-tr" valign="top">
                    <td>
                      <p id="employee-card-name"><%= employee.first_name + " " + employee.last_name %></p>
                    </td>
                  </tr>

                  <tr id="employee-card-skills-tr" valign="top">
                    <td>
                      <ul class="list-inline">
                        <% Poste.joins(:abilities).where(abilities: {user: employee}).each do |poste| %>
                          <li class="skill-button-list">
                            <div class="skill-button">
                              <%= poste.name %>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    </td>
                  </tr>

                  <tr valign="bottom">
                    <td>
                      <div class="list-controls">
                        <%= link_to "Profile", user_path(employee), class: "btn btn-default" %>
                        <%= link_to "Availabilities", user_path(employee), class: "btn btn-default" %>
                      </div>
                    </td>
                  </tr>

                </table>

              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<% content_for :title_tag do %>
  Profil de <%= @user.name %>
<% end %>

<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
      $("#edit-email").on("click", function() {
        $(this).addClass("hidden")
        $("#save-email").removeClass("hidden")
        $("#email").addClass("hidden")
        $("#email-input-container").removeClass("hidden")
      })
      $("#save-email").on("click", function() {
        $.ajax({
          method: "PATCH",
          data: {user: {email: $("#email-input").val()}},
          url: "<%= user_path(@user) %>",
          success: function() {
            $("#edit-email").removeClass("hidden")
            $("#save-email").addClass("hidden")
            $("#email").text($("#email-input").val()).removeClass("hidden")
            $("#email-input-container").addClass("hidden")
          }
        })
      })

      $("#edit-phone").on("click", function() {
        $(this).addClass("hidden")
        $("#save-phone").removeClass("hidden")
        $("#phone").addClass("hidden")
        $("#phone-input-container").removeClass("hidden")
      })
      $("#save-phone").on("click", function() {
        $.ajax({
          method: "PATCH",
          data: {user: {phone: $("#phone-input").val()}},
          url: "<%= user_path(@user) %>",
          success: function() {
            $("#edit-phone").removeClass("hidden")
            $("#save-phone").addClass("hidden")
            $("#phone").text($("#phone-input").val()).removeClass("hidden")
            $("#phone-input-container").addClass("hidden")
          }
        })
      })

      $("#upload-contract").on("click", function() {
        $("#user_contract").trigger("click")
        $(this).addClass("hidden")
        $("#upload-contract-prompt").addClass("hidden")
        $("#save-contract-prompt").removeClass("hidden")
        $("#save-contract").removeClass("hidden")
      })
      $("#save-contract").on("click", function() {
        $("#submit-contract").trigger("click")
      })
      $("#delete-contract").on("click", function() {
        $.ajax({
          method: "PATCH",
          dataType: "script",
          url: "<%= shop_destroy_contract_path(@shop, @user) %>",
          success: function() {
            console.log("IT WORKSSSS")
          }
        })
      })
    })
  </script>
<% end %>

