<div class="panel panel-default total-hours">
  <div class="panel-heading admin-month-table">
    <div class="flex-center">
      <%= link_to shop_total_path(@shop, month: @month - 1) do %>
        <i class="fa fa-caret-left"></i>
      <% end %>
      <h1><%= @today.strftime("%B %Y") %></h1>
      <%= link_to shop_total_path(@shop, month: @month + 1) do %>
        <i class="fa fa-caret-right"></i>
      <% end %>
    </div>
  </div>

  <table class="table">

    <tr>
      <th>Prénom</td>
      <th>Nom de famille</td>
      <th>Total heures travaillées</td>
      <th>Heures restantes</td>
      <th>Heures contractuelles</td>
    </tr>

    <% @employees_shifts.each do |employee, shifts| %>

      <!-- get total hours worked for employee, get date and duration for popover -->
      <% total = 0 %>
      <% date_and_duration = "" %>
      <% available_hours = 35 * 4 %>
      <% shifts.each do |date, duration| %>
        <% total += duration %>
        <% date = date.to_s %>
        <% duration = duration %>
        <% n1 = (duration % 1).to_r.to_s.scan(/\d/)[0] %>
        <% n2 = (duration % 1).to_r.to_s.scan(/\d/)[1] %>
        <% date_and_duration += "<tr>
                                  <td>#{date}</td>
                                  <td>#{
                                    if duration % 1 != 0
                                      "#{duration.floor} <sup>#{n1}</sup>&frasl;<sub>#{n2}</sub> h"
                                    else
                                      "#{duration.floor} h"
                                    end
                                  }</td>
                                </tr>" %>
      <% end %>


      <!-- create popover content -->
      <% popover_content = "<div class='panel panel-default popover-table'>
                              <div class='panel-heading'>
                                Shifts
                              </div>
                              <table class=table>
                                #{date_and_duration}
                              </table>
                            </div>" %>


      <% remaining_hours = total - available_hours %>
      <tr class="<%= hours_card_class(remaining_hours) %>">
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <!-- convert float to integer and rational and include popover for all shifts -->
        <% if total % 1 != 0 %>
          <td data-toggle="popover" data-content="<%= popover_content %>"><%= total.floor %> <sup><%= (total % 1).to_r.to_s.scan(/\d/)[0] %></sup>&frasl;<sub><%= (total % 1).to_r.to_s.scan(/\d/)[1] %></sub></td>
        <% else %>
          <td data-toggle="popover" data-content="<%= popover_content %>"><%= total.floor %></td>
        <% end %>
        <!-- convert float to integer and rational -->
        <% if remaining_hours % 1 != 0 %>
          <td class="<%= remaining_hours_class(remaining_hours) %>"><%= -remaining_hours.floor %> <sup><%= (remaining_hours % 1).to_r.to_s.scan(/\d/)[0] %></sup>&frasl;<sub><%= (remaining_hours % 1).to_r.to_s.scan(/\d/)[1] %></sub></td>
        <% else %>
          <td class="<%= remaining_hours_class(remaining_hours) %>"><%= -remaining_hours.floor %></td>
        <% end %>
        <td><%= available_hours %></td>
      </tr>
    <% end %>
  </table>
</div>

<% content_for :scripts do %>
  <script>
    $('[data-toggle="popover"]').popover({
      container: 'body',
      html: true,
      trigger: 'hover',
      delay: {"show": "300", "hide": "50"},
      placement: 'bottom'
    });
  </script>
<% end %>





