<div id="sidebar-wrapper" class="hidden-xs hidden-sm">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <h4>Dashboard</h4>
      <a href="menu-toggle" class="hidden-xs hidden-sm menu-toggle">
        <i class="fa fa-times"></i>
      </a>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to shop_plannings_path(@shop) do %>
          <i class="fa fa-calendar icon"></i>Mes plannings
         <% end %>
      </li>
      <li>
        <%= link_to new_user_path do %>
          <i class="fa fa-users icon" ></i>Mes Employés
        <% end %>
      </li>
      <li>
        <%= link_to new_poste_path do %>
          <i class="fa fa-list icon"></i>Postes
         <% end %>
      </li>
      <li>
        <%= link_to shop_total_path(@shop) do %>
          <i class="fa fa-file-text-o icon"></i>Apercu Nbre heure
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to "", root_path%>
      </li>
    <% end %>
  </ul>
</div>
<a href="menu-toggle" class="hidden menu-toggle show">
  Dashboard <i class="fa fa-caret-right"></i>
</a>
