<div class="container-fluid">
  <div class="row">

      <button type="button" class="btn btn-plus" data-toggle="modal" data-target="#myModal">
        Creer un poste
      </button>

   </div>

  <div class="card-poste-container">
    <div class="row">
      <% @postes.each do |poste, logo|%>

        <div class="card-postes text-inline">
          <div class="card-postes-description">
            <div class="poste-title">
              <div>
                <%= image_tag logo %>
              </div>
              <span><h2><%= poste.name %></h2></span>
            </div>
          </div>
          <div class="card-planning-controls">
            <div class="list-controls">
              <%= link_to "Modifier", edit_poste_path(poste),class: "btn btn-default" %>
              <%= link_to "Supprimer", poste_path(poste), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-default" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nouveau poste</h4>
      </div>
      <div class="modal-body">
      <!-- login -->
      <%= render 'form'%>

       <!-- login -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <!-- <button type="button" class="btn btn-primary">Creer</button> -->
      </div>
    </div>
  </div>
</div>

<% content_for :title_tag do %>
Mes emplois et postes
<% end %>
