<!-- TWITTER CARD -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@quittemath">
<meta name="twitter:creator" content="@quittemath">

<!-- OPENGRAPH -->
<meta property="og:url" content="http://www.shyft.fr/" />

<!-- TITLE -->
<title>Skello - <%= yield(:title_tag).presence || "gestion de planning intelligente" %></title>
<meta property="og:title" content="<%= yield(:title_tag).presence || "gestion de planning intelligente" %>" />
<meta name="twitter:title" content="<%= yield(:title_tag).presence || "gestion de planning intelligente" %>" />

<!-- DESCRIPTION -->
<meta name="description" content="Grâce à Skello, gérez vos plannings de façon simple et intelligente, et partagez-les en temps réel avec vos collaborateurs">
<meta property="og:description" content="Grâce à Skello, gérez vos plannings de façon simple et intelligente, et partagez-les en temps réel avec vos collaborateurs" />
<meta name="twitter:description" content="Grâce à Skello, gérez vos plannings de façon simple et intelligente, et partagez-les en temps réel avec vos collaborateurs" />

<!-- IMAGES -->
<meta property="og:image" content='<%= image_url "skello_tag.png" %>'/>
<meta name="twitter:image" content='<%= image_url "skello_tag.png" %>'/>
