<%= simple_form_for [@shop, @planning] do |f| %>
  <%= f.error_notification %>
  <%= f.input :start_date, as: :string, input_html: {value: '20/02/2016', class: "datepicker"}%>
  <%= f.input :end_date, as: :string, input_html: {value: '21/02/2016', class: "datepicker"} %>

  <%= f.submit 'Creer', class: "btn btn-primary"%>
<% end %>

    <!-- <form action="#">
      <div class="form-group">
        <label>Your email</label>
        <input type="email" class="form-control" placeholder="bob@gmail.com">
      </div>
      <div class="form-group">
        <label>Your password</label>
        <input type="password" class="form-control" placeholder="********">
      </div>
    </form>
 -->
