<div class="agenda-buttons text-right">
  <div class="container postes-list">
    <div class="row">
      <% @postes.each do |poste| %>
        <div class="col-xs-6 col-sm-1">
          <div class="poste resizable grab flex-center" style="background-color: <%= COLORS.sample %>"><%= poste.name %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="week-buttons">
    <% (1..((@planning.end_date - @planning.start_date) / 604800).ceil).each do |n| %>
      <%= link_to "S#{n}", planning_path(@planning, week: n, day: params[:day]), class: "text-center" %>
    <% end %>
  </div>
</div>

<div class="agenda-and-employees">
  <div class="employee-names">
    <ul class="list-unstyled text-right">
      <% @employees.each do |employee| %>
        <li><%= employee.first_name %></li>
      <% end %>
    </ul>
  </div>
  <div class="agenda-wrapper">
    <div class="tab-wrapper">
      <div class="tabs">
        <% (1..7).each do |n| %>
          <%= link_to "#{(@planning.start_date + (n - 1).days).strftime('%A')}", planning_path(@planning, week: @week, day: n), class: "tab" %>
        <% end %>
      </div>
    </div>

    <div id="agenda">
      <table id="planner">
        <tr>
          <% @range.each do |time| %>
            <th colspan="2"><%= time %>h</th>
          <% end %>
        </tr>
        <% @employees.each do |employee| %>
          <tr>
            <% @range.each do |time| %>
              <td class="time-cell" id="<%= "#{time}/#{employee.id}" %>" style="border-right: 1px solid rgba(37,50,56,0.2)"><div class="blech"></div></td>
              <td class= "time-cell" id="<%= "#{time}.5/#{employee.id}" %>"><div class="blech"></div></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <div id="forms">
        <!-- Create -->
        <%= simple_form_for([@planning, @shift], remote: true) do |f| %>
          <%= f.input :starts_at, start_year: @today.year, end_year: @today.year, discard_day: true, discard_month: true, discard_year: true, label: false %>
          <%= f.input :ends_at, start_year: @today.year, end_year: @today.year, discard_day: true, discard_month: true, discard_year: true, label: false %>
          <%= f.input :poste, as: :hidden %>
          <%= f.input :user, as: :hidden %>
        <% end %>
        <!-- Update -->
        <%= simple_form_for([@planning, @shift], url: find_and_update_path(@planning), html: { id: "find_update" }, remote: true) do |f| %>
          <%= f.input :starts_at, start_year: @today.year, end_year: @today.year, discard_day: true, discard_month: true, discard_year: true, label: false %>
          <%= f.input :ends_at, start_year: @today.year, end_year: @today.year, discard_day: true, discard_month: true, discard_year: true, label: false %>
          <%= f.input :poste, input_html: { id: "update_poste" }, as: :hidden %>
          <%= f.input :user, input_html: { id: "update_user" }, as: :hidden  %>
        <% end %>
        <!-- Destroy -->
          <%= simple_form_for([@planning, @shift], url: find_and_destroy_path(@planning), html: { id: "find_destroy" }, remote: true) do |f| %>
          <%= f.input :starts_at, start_year: @today.year, end_year: @today.year, discard_day: true, discard_month: true, discard_year: true, label: false %>
          <%= f.input :poste, input_html: { id: "destroy_poste" }, as: :hidden  %>
          <%= f.input :user, input_html: { id: "destroy_user" }, as: :hidden  %>
        <% end %>
      </div>
      <div id="bin">
        <i class="fa fa-trash"></i>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    // POPOVER DELETE
    $("#agenda").on('click', '[data-effect="delete"]', function(e){
      e.preventDefault();
      var elementId = $(this).parent().parent().parent().attr("id")
      var employeeName = elementId.match(/\/(.*)$/)[1]
      var jobName = $(this).parent().parent().parent().find(".item")[0].textContent
      var startTime = parseFloat(elementId)
      var lineInList = $("li:contains('" + employeeName + ": " + startTime + "h -')")
      if ( startTime % 1 > 0 ) {
        var startSeconds = 30
      } else {
        var startSeconds = "00"
      }
      $("#find_destroy #shift_starts_at_4i").val(Math.floor(startTime))
      $("#find_destroy #shift_starts_at_5i").val(startSeconds)
      $('#destroy_user').val(employeeName)
      $('#destroy_poste').val(jobName)
      $(lineInList).remove()
      $('#find_destroy').submit()
      $(this).parent().parent().parent().find(".item").remove()
      $(this).parent().parent().remove()
    });


    $(function() {
      <% @planning.shifts.each do |shift| %>
        <% if shift.starts_at %>
          <% if shift.starts_at.strftime("%F") == @today.strftime("%F") %>
            <% minutes = (shift.ends_at - shift.starts_at) / 60 %>
            <% if shift.starts_at.min > 0 %>
              $("#<%= "#{shift.starts_at.hour}\\\\.5\\\\/#{shift.user_id}" %>").append('<div class="poste resizable grab item flex-center" style="background-color: <%= COLORS.sample %>; width: <%= minutes %>px"><%= shift.poste.name %></div>')
            <% else %>
              $("#<%= "#{shift.starts_at.hour}\\\\/#{shift.user_id}" %>").append('<div class="poste resizable grab item flex-center" style="background-color: <%= COLORS.sample %>; width: <%= minutes %>px"><%= shift.poste.name %></div>')
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      $('.tab:contains("<%= @today.strftime("%A") %>")').addClass("active")
      $('.week-buttons > a:contains("<%= "S#{@week}" %>")').addClass("active")
      var uniqueIdForItems = 0
      var cellsDroppedIn = [];
      $("#find_destroy #shift_starts_at_1i").val("<%= @today.year %>")
      $("#find_destroy #shift_starts_at_2i").val("<%= @today.month %>")
      $("#find_destroy #shift_starts_at_3i").val("<%= @today.day %>")
      $("#new_shift #shift_starts_at_1i").val("<%= @today.year %>")
      $("#new_shift #shift_starts_at_2i").val("<%= @today.month %>")
      $("#new_shift #shift_starts_at_3i").val("<%= @today.day %>")
      $("#new_shift #shift_ends_at_1i").val("<%= @today.year %>")
      $("#new_shift #shift_ends_at_2i").val("<%= @today.month %>")
      $("#new_shift #shift_ends_at_3i").val("<%= @today.day %>")
      $("#find_update #shift_starts_at_1i").val("<%= @today.year %>")
      $("#find_update #shift_starts_at_2i").val("<%= @today.month %>")
      $("#find_update #shift_starts_at_3i").val("<%= @today.day %>")
      $("#find_update #shift_ends_at_1i").val("<%= @today.year %>")
      $("#find_update #shift_ends_at_2i").val("<%= @today.month %>")
      $("#find_update #shift_ends_at_3i").val("<%= @today.day %>")

      // POSTE DRAG

      $(".poste").draggable({
        cursor: "grabbing",
        helper: "clone",
        snap: ".time-cell",
        snapMode: "inner",
        revert: function(socketObj) {
          if (socketObj.length > 0) {
            $('#find_destroy').submit()
          } else {
            return 'invalid'
          }
        },
        start: function(e, ui) {
          $(ui.helper).removeClass("grab")
          $(ui.helper).addClass("dragged-poste")
          cellsDroppedIn = []
          if ($(ui.helper).hasClass("item")) {
            var elementId = $(ui['helper']['0']).parent().attr("id")
            var employeeName = elementId.match(/\/(.*)$/)[1]
            var jobName = e.target.textContent
            var startTime = parseFloat(elementId)
            var lineInList = $("li:contains('" + employeeName + ": " + startTime + "h -')")
            if ( startTime % 1 > 0 ) {
              var startSeconds = 30
            } else {
              var startSeconds = "00"
            }
            $("#find_destroy #shift_starts_at_4i").val(('0' + Math.floor(startTime)).slice(-2))
            $("#find_destroy #shift_starts_at_5i").val(startSeconds)
            $('#destroy_user').val(employeeName)
            $('#destroy_poste').val(jobName)
            $(lineInList).remove()
          }
        },
      });

      // RESIZE

      $(".item").resizable({
        grid: 30,
        stop: function(e, ui) {

          // UPDATE

          var elementId = $(ui.element[0]).parent().attr("id")
          var employeeName = elementId.match(/\/(.*)$/)[1]
          var jobName = e.target.textContent
          var startTime = parseFloat(elementId)
          var endTime = startTime + ($(e.target)[0].clientWidth / 60)
          if (endTime > 23.5) {
            endTime -= 24
          }
          if ( startTime % 1 > 0 ) {
            var startSeconds = 30
          } else {
            var startSeconds = "00"
          }
          if ( endTime % 1 > 0 ) {
            var endSeconds = 30
          } else {
            var endSeconds = "00"
          }
          $('#update_poste').val(jobName)
          $("#find_update #shift_starts_at_4i").val(('0' + Math.floor(startTime)).slice(-2))
          $("#find_update #shift_starts_at_5i").val(startSeconds)
          $("#find_update #shift_ends_at_4i").val(('0' + Math.floor(endTime)).slice(-2))
          $("#find_update #shift_ends_at_5i").val(endSeconds)
          $("#update_user").val(employeeName)
          $("#find_update").submit()
        }
      });

      // DROP

      $(".blech").droppable({
        tolerance: "touch",
        drop: function( event, ui ) {
          cellsDroppedIn.push(parseFloat($(this).parent().attr("id")))
          if (cellsDroppedIn.length === 1) {
            if ($(ui.draggable).hasClass("item") === false) {
              $(this).parent().append($(ui.draggable).clone().addClass("item i-" + uniqueIdForItems).attr('data-toggle', 'popover').attr('data-placement', 'bottom'));

              // POPOVER

              $('[data-toggle="popover"]').popover({
                html: true,
                trigger: "click",
                delay: {"show": "300", "hide": "50"},
                content: "<a href='#' data-effect='delete'><i class='fa fa-trash'></i></a>"
              });
              $(".item").removeClass("ui-draggable product");
              $('.i-' + uniqueIdForItems).find('.ui-resizable-handle').remove();

              // ITEM DRAG

              $(".item").draggable({
                snap: ".time-cell",
                scroll: false,

                // DELETE

                revert: function(socketObj) {
                    if (socketObj.length > 0) {
                      $('#find_destroy').submit()
                    } else {
                      return 'invalid'
                    }
                  },
                start: function(e, ui) {
                  cellsDroppedIn = []
                  var elementId = $(ui['helper']['0']).parent().attr("id")
                  var employeeName = elementId.match(/\/(.*)$/)[1]
                  var jobName = e.target.textContent
                  var startTime = parseFloat(elementId)
                  var lineInList = $("li:contains('" + employeeName + ": " + startTime + "h -')")
                  if ( startTime % 1 > 0 ) {
                    var startSeconds = 30
                  } else {
                    var startSeconds = "00"
                  }
                  $("#find_destroy #shift_starts_at_4i").val(('0' + Math.floor(startTime)).slice(-2))
                  $("#find_destroy #shift_starts_at_5i").val(startSeconds)
                  $('#destroy_user').val(employeeName)
                  $('#destroy_poste').val(jobName)
                  $(lineInList).remove()
                }
              });

              // ITEM RESIZE

              $(".item").resizable({
                grid: 30,
                stop: function(e, ui) {

                    // ITEM UPDATE

                    var elementId = $(ui.element[0]).parent().attr("id")
                    var employeeName = elementId.match(/\/(.*)$/)[1]
                    var jobName = e.target.textContent
                    var startTime = parseFloat(elementId)
                    var endTime = startTime + ($(e.target)[0].clientWidth / 60)
                    if (endTime > 23.5) {
                      endTime -= 24
                    }
                    if ( startTime % 1 > 0 ) {
                      var startSeconds = 30
                    } else {
                      var startSeconds = "00"
                    }
                    if ( endTime % 1 > 0 ) {
                      var endSeconds = 30
                    } else {
                      var endSeconds = "00"
                    }
                    $('#update_poste').val(jobName)
                    $("#find_update #shift_starts_at_4i").val(('0' + Math.floor(startTime)).slice(-2))
                    $("#find_update #shift_starts_at_5i").val(startSeconds)
                    $("#find_update #shift_ends_at_4i").val(('0' + Math.floor(endTime)).slice(-2))
                    $("#find_update #shift_ends_at_5i").val(endSeconds)
                    $("#update_user").val(employeeName)
                    $("#find_update").submit()
                }
              });

            } else {
              $(this).parent().append($(ui.draggable).css({"top": "0", "left": "0"}));
            }
            $('.popover').hide();

            // CREATE

            var startTime = cellsDroppedIn[0]
            console.log(startTime)
            var endTime = startTime + ( $(ui.draggable)[0].clientWidth / 30 / 2 )
            console.log(endTime)
            var employeeName = $(this).parent().attr("id").match(/\/(.*)$/)[1];
            var jobName = $(ui.draggable)[0].textContent
            if ( startTime % 1 > 0 ) {
              var startSeconds = 30
            } else {
              var startSeconds = "00"
            }
            if ( endTime % 1 > 0 ) {
              var endSeconds = 30
            } else {
              var endSeconds = "00"
            }
            $('#shift_poste').val(jobName)
            $("#new_shift #shift_starts_at_4i").val(('0' + Math.floor(startTime)).slice(-2))
            $("#new_shift #shift_starts_at_5i").val(startSeconds)
            $("#new_shift #shift_ends_at_4i").val(('0' + Math.floor(endTime)).slice(-2))
            $("#new_shift #shift_ends_at_5i").val(endSeconds)
            $("#new_shift #shift_user").val(employeeName)
            uniqueIdForItems += 1
            $("#new_shift").submit()
          }
        }
      });

      // BIN

      $("#bin").droppable({
        tolerance: "touch",
        accept: '.item',
        drop: function(event, ui) {
          $(ui.draggable).remove();
        }
      });
    });
  </script>
<% end %>

<% content_for :title_tag do %>
Planning <%= @planning.id %> by <%= @planning.user.name %>
<% end %>
