<div class="text-center week-name">
  <h1>
    <% unless @week == 1 %>
      <%= link_to week_view_path(@planning, week: (@week - 1)), class: "text-center" do %>
        <i class="fa fa-caret-left"></i>
      <% end %>
    <% end %>
    <% first_day = @planning.start_date + ((@week - 1) * 7).days %>
    Semaine du <%= first_day.strftime("%e") + " " + french_months(first_day.strftime("%B")) + " " + first_day.strftime("%Y") %>
    <% unless @week >= ((@planning.end_date - @planning.start_date) / 604800).ceil + 1 %>
      <%= link_to week_view_path(@planning, week: (@week + 1)), class: "text-center" do %>
        <i class="fa fa-caret-right"></i>
      <% end %>
    <% end %>
  </h1>
</div>

<div class="agenda-buttons text-right">
  <div class="week-buttons-container">
    <div class="week-buttons">
      <%= link_to "Aperçu journée", planning_path(@planning, week: @week, day: params[:day]), class: "text-center" %>
      <%= link_to "Aperçu semaine", week_view_path(@planning, week: @week), class: "tab active" %>
    </div>
  </div>
</div>

<div class="agenda-and-employees">
  <div class="agenda-wrapper">
    <div id="agenda">
      <div style="position: relative;">
        <div class="week-view-headers">
          <% @range.each do |time| %>
            <div class="time-header"><%= time %>:00</div>
          <% end %>
        </div>
        <table id="planner">
          <tr>
            <th style="border: 0;"></th>
            <th style="border: 0;"></th>
            <% @range.each do |time| %>
              <th colspan="2"></td>
            <% end %>
          </tr>
        <% (0...7).each do |day| %>
          <% today = (@monday + day.days) %>
          <% if (today < @planning.start_date || today > @planning.end_date) %>
            <tr>
              <td class="week-view-day"><%= french_days(today.strftime("%A")).upcase %></td>
              <td class="greyish"></td>
              <% @range.each do |time| %>
                <td class="time-cell greyish" style="border-right: 1px solid rgba(37,50,56,0.2)"><div class="blech"></div></td>
                <td class= "time-cell greyish"><div class="blech"></div></td>
              <% end %>
            </tr>
          <% else %>
            <% Poste.all.each_with_index do |poste, poste_index| %>
              <tr>
                <% if poste_index == 0 %>
                  <td class="week-view-day" rowspan="<%= Poste.count %>"><%= french_days(today.strftime("%A")).upcase %></td>
                <% end %>
                <td class="poste-name-cell" style="padding: 0 5px; <%= "border-top:  1px solid rgba(37, 50, 56, 0.4)" if poste_index == 0 %>"><%= poste.name %></td>
                <% @range.each do |time| %>
                  <td data-number="<%= number_of_dudes(@planning, (today + time.hours), poste) %>" class="time-cell" id="<%= "#{time}/#{today.strftime("%A")}" %>" style="<%= "border-top:  1px solid rgba(37, 50, 56, 0.4)" if poste_index == 0 %>">
                    <%= get_div_width(@planning, (today + time.hours), poste) unless get_div_width(@planning, (today + time.hours), poste) == ((get_div_width(@planning, (today + time.hours - 30.minutes), poste) - 30)) || get_div_width(@planning, (today + time.hours), poste) == 0  %>
                    <div class="blech">
                    </div>
                  </td>
                  <td data-number="<%= number_of_dudes(@planning, (today + time.hours + 30.minutes), poste) %>" class="time-cell" style="border-left: 1px dotted rgba(37,50,56,0.2); <%= "border-top:  1px solid rgba(37, 50, 56, 0.4)" if poste_index == 0 %>" id="<%= "#{time}.5/#{today.strftime("%A")}" %>">
                    <%= get_div_width(@planning, (today + time.hours + 30.minutes), poste) unless get_div_width(@planning, (today + time.hours + 30.minutes), poste) == (get_div_width(@planning, (today + time.hours), poste) - 30) || get_div_width(@planning, (today + time.hours + 30.minutes), poste) == 0 %>
                    <div class="blech">
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<% content_for(:scripts) do %>
  <script>
    $(function () {
      $('.week-buttons > a:contains("<%= "S#{@week}" %>")').addClass("active")
      $(".time-cell").each(function() {
        if ( /^\s*$/.test($(this).text()) == false ) {
          $(this).append('<div class="poste resizable grab item flex-center" style="background-color: <%= COLORS.sample %>; width:' + $(this).text().match(/\d+/) + 'px;">' + this.dataset.number + '</div>')
        }
      <% shop_postes = Shpposte.where(shop: @shop) %>
      <% shop_postes.each do |shpposte| %>
        blech = $('td:contains("<%= shpposte.poste.name %>")').parent().find('.item').each(function(key, item) {
          $(item).css({"background-color": "<%= shpposte.color %>"})
        })
      <% end %>
      })
    });
  </script>
<% end %>

<% content_for :title_tag do %>
Planning <%= @planning.id %>, créé par <%= @planning.user.name %>
<% end %>

