<div class="text-center week-name">
  <h1>
    <% unless @week == 1 %>
      <%= link_to week_view_path(@planning, week: (@week - 1)), class: "text-center" do %>
        <i class="fa fa-caret-left"></i>
      <% end %>
    <% end %>
    Semaine du <%= (@planning.start_date + ((@week - 1) * 7).days).strftime("%e %B %Y") %>
    <% unless @week >= ((@planning.end_date - @planning.start_date) / 604800).ceil + 1 %>
      <%= link_to week_view_path(@planning, week: (@week + 1)), class: "text-center" do %>
        <i class="fa fa-caret-right"></i>
      <% end %>
    <% end %>
  </h1>
</div>

<div class="agenda-buttons text-right">
  <div class="week-buttons-container">
    <div class="week-buttons">
      <%= link_to "Aperçu journée", planning_path(@planning, week: @week, day: params[:day]), class: "text-center" %>
      <%= link_to "Aperçu semaine", week_view_path(@planning, week: @week), class: "tab active" %>
    </div>
  </div>
</div>

<div class="agenda-and-employees">
  <div class="agenda-wrapper">
    <div id="agenda">
      <table id="planner">
        <tr>
          <th>DAYS</th>
          <th>Postes</th>
          <% @range.each_with_index do |time, index| %>
            <th colspan="2"><%= time %></th>
          <% end %>
        </tr>
        <% (0...7).each do |day| %>
          <% today = (@monday + day.days) %>
          <% if (today < @planning.start_date || today > @planning.end_date) %>
            <tr>
              <td><%= today.strftime("%A") %></td>
              <td class="greyish"></td>
              <% @range.each do |time| %>
                <td class="time-cell greyish" style="border-right: 1px solid rgba(37,50,56,0.2)"><div class="blech"></div></td>
                <td class= "time-cell greyish"><div class="blech"></div></td>
              <% end %>
            </tr>
          <% else %>
            <% Poste.all.each_with_index do |poste, poste_index| %>
              <tr>
                <% if poste_index == 0 %>
                  <td rowspan="<%= Poste.count %>"><%= today.strftime("%A") %></td>
                <% end %>
                <td style="padding: 0 5px;"><%= poste.name %></td>
                <% @range.each do |time| %>
                  <td data-number="<%= number_of_dudes(@planning, (today + time.hours), poste) %>" class="time-cell" id="<%= "#{time}/#{today.strftime("%A")}" %>" style="border-right: 1px dotted rgba(37,50,56,0.2)">
                    <%= get_div_width(@planning, (today + time.hours), poste) unless get_div_width(@planning, (today + time.hours), poste) == ((get_div_width(@planning, (today + time.hours - 30.minutes), poste) - 30)) || get_div_width(@planning, (today + time.hours), poste) == 0  %>
                    <div class="blech">
                    </div>
                  </td>
                  <td data-number="<%= number_of_dudes(@planning, (today + time.hours + 30.minutes), poste) %>" class= "time-cell" id="<%= "#{time}.5/#{today.strftime("%A")}" %>">
                    <%= get_div_width(@planning, (today + time.hours + 30.minutes), poste) unless get_div_width(@planning, (today + time.hours + 30.minutes), poste) == (get_div_width(@planning, (today + time.hours), poste) - 30) || get_div_width(@planning, (today + time.hours + 30.minutes), poste) == 0 %>
                    <div class="blech">
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<% content_for(:scripts) do %>
  <script>
    $(function () {
      $('.week-buttons > a:contains("<%= "S#{@week}" %>")').addClass("active")
      $(".time-cell").each(function() {
        if ( /^\s*$/.test($(this).text()) == false ) {
          $(this).append('<div class="poste resizable grab item flex-center" style="background-color: <%= COLORS.sample %>; width:' + $(this).text().match(/\d+/) + 'px;">' + this.dataset.number + '</div>')
        }
      })
    });
  </script>
<% end %>
